$o-buttons-is-silent: true;
@import 'o-buttons/main';
@import "o-ft-icons/main";

@include oFtIconsFontFace();

*[data-three-sixty-video] {
	display: inline-block;
    position: relative;

	.button-container {
		position: absolute;
		bottom: 0;
		left: 0;
		top: 0;
		right: 0;
		padding: 0.5em;
		text-align: right;
		vertical-align: bottom;

		button {

			@include oButtons(big, inverse);

			&.play-icon {
				position: absolute;
				left: 50%;
				top: 50%;
				transform: translate(-50%, -50%);
				border-radius: 50%;
				border: none;
				width: 5rem;
				height: 5rem;
				padding: 0;
				margin: 0;
				text-align: center;
				font-size: 0;
				@include oFtIconsBaseIconStyles();
				@extend %o-ft-icons-icon--play;

				&:before {
					font-size: 4rem;
					line-height: 5rem;
				}
			}

			&.cardboard-icon:before {
				display: inline-block;
				content: '';
				width: 1.5em;
				height: 1.5em;
				background: url("assets/cardboard.svg") no-repeat center center;
				background-size: contain;
				vertical-align: top;
				margin: -0.25em 0;
				margin-right: 0.2em;
			}
		}
	}
}